@{
    ViewData["Title"] = "Autori";
}

<h1>Autori</h1>

<ul class="list-group mt-4">
    <li class="list-group-item">Mihai Eminescu</li>
    <li class="list-group-item">Mircea Eliade</li>
    <li class="list-group-item">Ioan Slavici</li>
</ul>