@{
    ViewData["Title"] = "Categorii";
}

<h1>Categorii</h1>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card p-3 mb-3">
            <h5>Ficțiune</h5>
            <p class="mb-0">Romane și povești</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 mb-3">
            <h5>Dezvoltare personală</h5>
            <p class="mb-0">Motivație și productivitate</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 mb-3">
            <h5>IT & Programare</h5>
            <p class="mb-0">C#, Web, baze de date</p>
        </div>
    </div>
</div>